
.top-margin {
    margin-top: 80px;
}

.top-padding {
    padding-top: 60px;
}

.centered {
    text-align: center;
}

.tr-feat-header img {
    margin-top: -5px;
    margin-right: 5px;
}

.logo-text {
    line-height: 30px;
    color: #929497;
}

.messages {
    margin-top: 10px;
}

/* ajax input */
input.ajax-loading {
    background-image: url('../img/ajax-small.gif');
    background-repeat: no-repeat;
    background-position: center right;
}

/* Sorting columns */
a.sorter {
    background-image: url('../img/sorting-default.png');
    background-repeat: no-repeat;
    background-position: center left;
    color: #333;
    cursor: pointer;
    padding-left: 20px;
}

a.sorter.headerSortUp {
    background-image: url('../img/asc-default.png');
}
a.sorter.headerSortDown {
    background-image: url('../img/desc-default.png');
}

/* form validation */
input.form-control.valid {
    border: 1px solid #468847;
}
input.form-control.error {
    border: 1px solid red;
}
span.valid {
    width: 24px;
    height: 24px;
    background: url(../img/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}

span.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}
.red {
    color: red;
}

.green {
    color: #3c763d;
}