<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".tr-navbar-collapse">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="logo"></div>
            <a href="/admin" class="navbar-brand">Aginte</a>
        </div>
        <nav class="collapse navbar-collapse tr-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/users">Users</a></li>
                <li><a href="/admin/clients">Clients</a></li>
                <li><a href="/admin/">Credits</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><i class="fa fa-signout"></i> Logout</a></li>
            </ul>
            <p class="navbar-text pull-right">
                Logged in as <a href="#" class="navbar-link"><%- JSON.stringify(session) %></a>
            </p>
        </nav>
    </div>
</header>