<% layout( './server_layout' ) -%>
<div class="container">
    <div class="row top-margin">
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-sm-6">
            <form action="/dialog/authorize/decision" method="post">
                <div class="modal" style="display: block">
                    <div class="modal-dialog">
                        <div class="dialog-container">
                            <div class="modal-header">
                                <h4 class="modal-title">Request for Permission</h4>
                            </div>
                            <div class="modal-body">
                                <div class="col-lg-9">
                                    <p>Hi <%= user.fullName() %>!</p>

                                    <p><b><%= client.client_name %></b> is requesting access to your account.</p>

                                    <p>Do you approve?</p>
                                    <input name="transaction_id" type="hidden" value="<%= transactionID %>">
                                </div>
                                <div class="col-lg-3">
                                       <img class="img-thumbnail img-responsive" src="/img/app-default.png"/>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-left footer-info">Logged in as <strong><%= user.fullName() %></strong> (<a href="/logout">Not you?</a>)</div>
                                <input class="btn btn-primary" type="submit" value="Allow" id="allow">
                                <input class="btn btn-danger" type="submit" value="Don`t Allow" name="cancel" id="deny">
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </form>
        </div>
    </div>
</div>